@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    gap: 1em;
    flex-direction: column;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
    /* object-fit: contain; */
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
