/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --mainTextColor-light: #000;
  --secondaryTextColor-light: rgb(51 51 51);
  --mainLinkColor-light: #0da2b8;
  --mainBorderColor-light: rgb(218, 218, 218);
  --mainBgColor-light: rgb(249, 250, 251);

  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--mainTextColor);
  font-family: 'Inter', sans-serif;
  line-height: 1.5em;
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 920px;
  margin: 0 auto;
  padding: 1em;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

#wrapper--hero {
  display: flex;
  align-items: center;
  gap: 4em;
  padding: 4rem 0;
}

#bio,
a {
  font-weight: 300;
}

#user-name {
  font-size: 48px;
  line-height: 1em;
}

#profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}

.section--page__text {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

#email {
  color: var(--mainTextColor);
}

#socials--list {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  flex-wrap: wrap;
}

#socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
}

#socials--list a:hover {
  font-weight: 100;
  color: var(--mainLinkColor);
  font-size: 0.9em;
}

#qualifications--list {
  list-style: none;
}

.section--page .wrapper--techstack__title {
  margin-bottom: 1rem;
}

.section--page .card--wrapper__title {
  margin-bottom: 1rem;
}

#wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.card--techstack-laravel {
  background-color: #fecaca;
}

.card--techstack-laravel > span {
  color: #dc2626;
}

.card--techstack-javascript {
  background-color: #fed7aa;
}

.card--techstack-javascript > span {
  color: #c2410c;
}

.card--techstack-react {
  background-color: #bfdbfe;
}

.card--techstack-react > span {
  color: #1d4ed8;
}

.card--techstack-css {
  background-color: #c7d2fe;
}

.card--techstack-css > span {
  color: #4338ca;
}

.card--techstack-php {
  background-color: #ddd6fe;
}

.card--techstack-php > span {
  color: #6d28d9;
}

.card--techstack-bootstrap {
  background-color: #e9d5ff;
}

.card--techstack-bootstrap > span {
  color: #7e22ce;
}

.card--techstack-tailwind {
  background-color: #a7f3d0;
}

.card--techstack-tailwind > span {
  color: #047857;
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card {
  background-color: #f1f5f9;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  /* padding-bottom: 1rem; */
  text-align: center;
}

.card > :last-child {
  margin-bottom: 0;
}

.card h3 {
  margin-top: 0.2rem;
  font-size: 1.25rem;
  color: var(--mainTextColor-light);
}
.card p {
  font-size: 0.8rem;
  color: var(--mainBorderColor-dark);
}

.card img {
}

img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  /* height: max(10rem, 30vh); */
  /* max-height: max(10rem, 30vh); */
}

img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1.5rem;
}

.card-action {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.card-action a {
  /* background-color: red;
  color: #131415; */
  padding: 2px 8px;
  border-radius: 5px;
}

.card-action > .action-live {
  background-color: #075985;
  color: #bae6fd;
}

.card-action > .action-github {
  background-color: #0f172a;
  color: #cbd5e1;
}
